torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0
gradio==6.6.0
huggingface_hub==1.4.1
opencv-python-headless==4.13.0
numpy==2.4.2
Pillow==12.1.1
pandas==3.0.1
scikit-learn==1.8.0
matplotlib==3.10.8
seaborn==0.13.2
tqdm==4.67.3
scipy==1.17.0
